name: Deploy to Firebase Hosting on merge
'on':
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      # Since there is no build step (static files), we skip npm install/build
      # Create firebase-config.js from Secret
      - name: Create firebase-config.js
        run: echo "${{ secrets.FIREBASE_CONFIG }}" > firebase-config.js

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_HR_ONLINE_TRAINING }}'
          channelId: live
          projectId: hr-online-training
